<section>


    <h2 id="ourmenu">OUR MENU</h2>

    <div>
        <img src="../../../assets/img/r1.png">

        <div>
            <h2>Tonkasu Ramen</h2>

            <table>
                <tr>
                    <td id="chicken">CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="beef">BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="shrimp">SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>


    <div>

        <div>
            <h2>Spicy Miso Ramen</h2>

            <table>
                <tr>
                    <td id="chicken2">CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="beef2">BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="shrimp2">SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
        <img src="../../../assets/img/r2.png">
    </div>

    <div>
        <img src="../../../assets/img/r3.png">


        <div>
            <h2>Shio Ramen</h2>

            <table>
                <tr>
                    <td id="chicken3">CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td id="beef3">BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td id="shrimp3">SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>
</section>